<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg">

<head>

    <meta charset="utf-8" />
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{{url_for('static',filename='./images/favicon.ico')}}">

    <!-- Layout config Js -->
    <script src="{{url_for('static',filename='./js/layout.js')}}"></script>
    <!-- Bootstrap Css -->
    <link href="{{url_for('static',filename="./css/bootstrap.min.css")}}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{{url_for('static',filename="./css/icons.min.css")}}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{{url_for('static',filename="./css/app.min.css")}}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="{{url_for('static',filename='./css/custom.min.css')}}" rel="stylesheet" type="text/css" />

    
    


</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        <header id="page-topbar">
    <div class="layout-width">
        <div class="navbar-header">

            
            <div class="col-md-10  text-right">
                
            </div>
            <div class=" ">
                        
                <a href="/" class="btn btn-primary">Home</a>

            </div>

            <div class="btn btn-link fw-medium text-decoration-none text-dark">
                        
                <a href="/logout" class="btn btn-danger">Logout</a>

            </div>

        </div>
    </div>
</header>
        <!-- ========== App Menu ========== -->
        <div class="app-menu navbar-menu">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <!-- Dark Logo-->
                <a href="/" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="{{url_for('static',filename='./images/logo-dark.png')}}" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="{{url_for('static',filename='./images/logo-dark.png')}}" alt="" height="17">
                    </span>
                </a>
                <!-- Light Logo-->
                <a href="/" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="{{url_for('static',filename='./images/logo-dark.png')}}" alt="" height="60">
                    </span>
                    <span class="logo-lg">
                        <img src="{{url_for('static',filename='assets/images/logo-light.jpg')}}" alt="" height="80">
                    </span>
                </a>
                <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
                    id="vertical-hover">
                    <i class="ri-record-circle-line"></i>
                </button>
            </div>

            <div id="scrollbar">
                <div class="container-fluid">

                    <div id="two-column-menu">
                    </div>
                    <ul class="navbar-nav" id="navbar-nav">
                        <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                         <!-- end Dashboard Menu -->
                        

                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            
            <div class="page-content">
                <div class="container-fluid">

                    <div class="position-relative mx-n4 mt-n4">
                        <div class="profile-wid-bg profile-setting-img">
                            <img src="{{url_for('static',filename='./images/bg-auth.png')}}" class="profile-wid-img" alt="">
                            <div class="overlay-content">
                                <div class="text-end p-3">
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <form action="/passcardRegister" method="POST" >
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header align-items-center d-flex">
                                    <h4 class="card-title mb-0 flex-grow-1" style="font-size: 28px; color: #ff0000;">Warning!</h4>
                                    <div class="flex-shrink-0">
                                        
                                    </div>
                                </div>
                                <!-- end card header -->
                                <div class="card-body">
                                    <div class="live-preview">
                                        <div class="row gy-4">
                                            <div class="col-xxl-3 col-md-6">
                                                
                                            
                                            <!--end col-->
                                            
                                            <p class="lead text-muted lh-base" style="font-weight: bold;">Your Account has been Banned By the Admin.</p>

                                            <div class=" ">
                        
                                                <a href="/logout" class="btn btn-primary">Contact Admin</a>
                                
                                            </div>
                                            
                    </form> 
                                        </div>
                                        <!--end row-->
                                    </div>
                                    <div class="d-none code-view">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                   
                      
                      

            <!-- End Page-content -->

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->



    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->

    

    <!-- Theme Settings -->
    

    <!-- JAVASCRIPT -->
    <script src="{{url_for('static',filename='./libs/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
   <script src="{{url_for('static',filename='./libs/simplebar/simplebar.min.js')}}"></script>
   <script src="{{url_for('static',filename='./libs/node-waves/waves.min.js')}}"></script>
   <script src="{{url_for('static',filename='./libs/feather-icons/feather.min.js')}}"></script>
   <script src="{{url_for('static',filename='./js/pages/plugins/lord-icon-2.1.0.js')}}"></script>
   <script src="{{url_for('static',filename='./js/plugins.js')}}"></script>

    <!-- profile-setting init js -->
    
    <script src="{{url_for('static',filename='./js/pages/profile-setting.init.js')}}"></script>

    <!-- App js -->
    
    <script src="{{url_for('static',filename='./js/app.js')}}"></script>
</body>

</html>