<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg">

<head>

    <meta charset="utf-8" />
    <title>Profile Setup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{{url_for('static',filename='./images/favicon.ico')}}">

    <!-- Layout config Js -->
    <script src="{{url_for('static',filename='./js/layout.js')}}"></script>
    <!-- Bootstrap Css -->
    <link href="{{url_for('static',filename="./css/bootstrap.min.css")}}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{{url_for('static',filename="./css/icons.min.css")}}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{{url_for('static',filename="./css/app.min.css")}}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="{{url_for('static',filename='./css/custom.min.css')}}" rel="stylesheet" type="text/css" />


</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        <header id="page-topbar">
    <div class="layout-width">
        <div class="navbar-header">

            
            <div class="col-md-10  text-right">
                
            </div>
            <div class="btn btn-link fw-medium text-decoration-none text-dark ">
                        
                <a href="/" class="btn btn-primary">Home</a>

            </div>

            <div class=" ">
                        
                <a href="/logout" class="btn btn-primary">Logout</a>

            </div>

        </div>
    </div>
</header>
        <!-- ========== App Menu ========== -->
        <div class="app-menu navbar-menu">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <!-- Dark Logo-->
                <a href="/" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="{{url_for('static',filename='./images/logo-dark.png')}}" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="{{url_for('static',filename='./images/logo-dark.png')}}" alt="" height="17">
                    </span>
                </a>
                <!-- Light Logo-->
                <a href="/" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="{{url_for('static',filename='assets/images/logo-light.jpg')}}" alt="" height="60">
                    </span>
                    <span class="logo-lg">
                        <img src="{{url_for('static',filename='assets/images/logo-light.jpg')}}" alt="" height="80">
                    </span>
                </a>
                <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
                    id="vertical-hover">
                    <i class="ri-record-circle-line"></i>
                </button>
            </div>

            
                                            
                                            
                         <!-- end Dashboard Menu -->
                        

                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <div class="position-relative mx-n4 mt-n4">
                        <div class="profile-wid-bg profile-setting-img">
                            <img src="assets/images/profile-bg.jpg" class="profile-wid-img" alt="">
                            <div class="overlay-content">
                                <div class="text-end p-3">
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" >
                        <div class="col-xxl-3" >
                            <div class="card mt-n5" >
                                <div class="card-body p-4" >
                                    <div class="text-center" >
                                        <div class="profile-user position-relative d-inline-block mx-auto  mb-4">
                                            
                                        
                                        </div>
                                        <h5 class="fs-16 mb-1">{{user.Fname}} {{user.Lname}}</h5>
                                        <p class="text mb-2">Username: @{{user.username}}</p>
                                        <p class="text-muted mb-0">User ID: {{user.id}}</p>
                                    </div>
                                </div>
                            </div>
                            <!--end card-->
                            
                            
                            <div class="card">
                                
                            </div>
                            <!--end card-->
                        </div>
                        <!--end col-->
                        <div class="col-xxl-9">
                            <div class="card mt-xxl-n5">
                                <div class="card-header">
                                    <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0"
                                        role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-bs-toggle="tab" href="#personalDetails"
                                                role="tab">
                                                <i class="fas fa-home"></i>
                                                Personal Details
                                            </a>
                                        </li>
                                        
                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#privacy" role="tab">
                                                <i class="far fa-envelope"></i>
                                                Privacy Policy
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body p-4">
                                    
                                <div class="tab-content">
                                        
                                    <form action="/setup" method="POST">
                                        <div class="tab-pane active" id="personalDetails" role="tabpanel">
                                            
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="Fname" class="form-label">First
                                                                Name</label>
                                                            <input type="text" class="form-control" id="Fname" name="Fname"
                                                                placeholder="" value="{{user.Fname}}">
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="Lname" class="form-label">Last
                                                                Name</label>
                                                            <input type="text" class="form-control" id="Lname" name="Lname"
                                                                placeholder="Enter your lastname" value="{{user.Lname}}">
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="age" class="form-label">Age</label>
                                                            <input type="text" class="form-control"
                                                                id="age" name="age"
                                                                placeholder="Enter your age"
                                                                value="{{user.age}}">
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="email" class="form-label">Email
                                                                Address</label>
                                                            <input type="email" class="form-control" id="email"
                                                                placeholder="Enter your email"
                                                                value="{{user.email}}" readonly>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    
                                                    <select class="form-select" id="gender" name="gender" aria-label="Default select example" required>
                                                        <option disabled selected value="">Gender</option>
                                                        <option value="male">Male</option>
                                                        <option value="female">Female</option>
                                                        <option value="nonbinary">Non-binary</option>
                                                
                                                    </select>

                                                    <div class="col-lg-12">
                                                        <div class="mb-3">
                                                            <label for="gender" class="form-label">Height (Meter)</label>
                                                            <input type="text" class="form-control"
                                                                id="height"
                                                                name="height"
                                                                placeholder=""
                                                                value="{{user.height}}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="mb-3">
                                                            <label for="gender" class="form-label">Weight (Kg)</label>
                                                            <input type="text" class="form-control"
                                                                id="weight"
                                                                name="weight"
                                                                placeholder=""
                                                                value="{{user.weight}}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="mb-3">
                                                            <label for="bloodtype" class="form-label">Blood Type</label>
                                                            <input type="text" class="form-control"
                                                                id="bloodType"
                                                                name="bloodType"
                                                                placeholder=""
                                                                value="{{user.bloodType}}" />
                                                        </div>

                                                    <select class="form-select" id="bloodDonate" name="bloodDonate" aria-label="Default select example" required>
                                                        <option disabled selected value="">Want to donate blood?</option>
                                                        <option value="yes">Yes</option>
                                                        <option value="no">No</option>
                                                    </select>
                                                        

                                                    <div class="col-lg-12">
                                                        <div class="mb-3">
                                                            <label for="phone" class="form-label">Phone Number</label>                                                                
                                                            <input type="text" class="form-control" 
                                                                id="phone"
                                                                name="phone"
                                                                placeholder="Enter your phone number"
                                                                value="{{user.phone}}" />
                                                        </div>


                                                    <div class="col-lg-12">
                                                        <div class="mb-3">
                                                            <label for="address" class="form-label">Address</label>
                                                            <input type="text" class="form-control"
                                                                id="address"
                                                                name="address"
                                                                placeholder="Enter your address"
                                                                value="{{user.address}}" />
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="mb-3">
                                                            <label for="allergies" class="form-label">Allergies</label>
                                                            <input type="text" class="form-control"
                                                                id="allergies"
                                                                name="allergies"
                                                                placeholder=""
                                                                value="{{user.allergies}}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="mb-3">
                                                            <label for="medications" class="form-label">Medications</label>
                                                            <input type="text" class="form-control"
                                                                id="medications"
                                                                name="medications"
                                                                placeholder=""
                                                                value="{{user.medications}}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="mb-3">
                                                            <label for="conditions" class="form-label">Conditions</label>
                                                            <input type="text" class="form-control"
                                                                id="conditions"
                                                                name="conditions"
                                                                placeholder=""
                                                                value="{{user.conditions}}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="mb-3">
                                                            <label for="surgeries" class="form-label">Surgeries</label>
                                                            <input type="text" class="form-control"
                                                                id="surgeries"
                                                                name="surgeries"
                                                                placeholder="No Surgeries"
                                                                value="{{user.surgeriess}}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="mb-3">
                                                            <label for="familyHistory" class="form-label">FamilyHistory</label>
                                                            <input type="text" class="form-control"
                                                                id="familyHistory"
                                                                name="familyHistory"
                                                                placeholder=""
                                                                value="{{user.familyHistory}}" />
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    
                                                    <!--end col-->
                                                    
                                                    <!--end col-->
                                                    
                                                    <!--end col-->
                                                    
                                                    <!--end col-->
                                                    
                                                    <!--end col-->
                                                    
                                                    <!--end col-->
                                                    
                                                    <!--end col-->

                                                    <div class="col-lg-12">
                                                        
                                                        <div class="hstack gap-2 justify-content-end">
                                                            
                                                            <button type="submit"
                                                                class="btn btn-primary">Finish Setup</button>
                                                            
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                </div>
                                                <!--end row-->
                                    </form>
                        
                                        </div>
                                        <!--end tab-pane-->
                                        
                                        <!--end tab-pane-->
                                        
                                        <!--end tab-pane-->
                                        
                                        <!--end tab-pane-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->

                </div>
                <!-- container-fluid -->
            </div><!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Rezwan Ahmed.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Design & Develop by Rezwan Ahmed
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->



    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->

    

    <!-- Theme Settings -->
    

    <!-- JAVASCRIPT -->
    <script src="{{url_for('static',filename='./libs/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
   <script src="{{url_for('static',filename='./libs/simplebar/simplebar.min.js')}}"></script>
   <script src="{{url_for('static',filename='./libs/node-waves/waves.min.js')}}"></script>
   <script src="{{url_for('static',filename='./libs/feather-icons/feather.min.js')}}"></script>
   <script src="{{url_for('static',filename='./js/pages/plugins/lord-icon-2.1.0.js')}}"></script>
   <script src="{{url_for('static',filename='./js/plugins.js')}}"></script>

    <!-- profile-setting init js -->
    
    <script src="{{url_for('static',filename='./js/pages/profile-setting.init.js')}}"></script>

    <!-- App js -->
    
    <script src="{{url_for('static',filename='./js/app.js')}}"></script>
</body>

</html>